<div class="container">
  <div class="panel panel-default" ng-repeat="product in store.products">
    <div class="panel-heading">
      <h3 class="panel-title">
        {{product.name}}
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
      <div class="col-md-6">
        {{product.description}}
      </div>
      <div class="col-md-4">
        ${{product.price}}.00
      </div>
      <div class="col-md-2">
      <button class="btn btn-default" ng-click="store.buy(product)">Add To Cart</button>
      </div>
      </div>
    </div>
  </div>
</div>